<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Le Wagon" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="apple-touch-icon" href="assets/apple.png" />
    <link rel="icon" type="image/x-icon" href="<%= asset_path('favicon.ico') %>">

    <meta property="og:site_name" content="Coding Bootcamp Le Wagon | Most Acclaimed Coding Bootcamp Worldwide" />
    <meta property="og:title" content="Coding Bootcamp | Le Wagon" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.lewagon.com/" />
    <meta property="og:image" content="meta.png" />
        <meta property="og:description" content="Change your life, learn to code. Le Wagon is ranked as the world&#39;s best coding bootcamp and has enabled thousands of people to change their careers." />
    <meta property="fb:admins" content="548348576" />
    <meta property="fb:app_id" content="737501859652485" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Lewagonlatam">
    <meta name="twitter:creator" content="@Lewagonlatam">
    <meta name="twitter:image:src" content="assets/meta.png">


    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://sdk.mercadopago.com/js/v2">
    </script>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WBP4T8X5');</script>
    <!-- End Google Tag Manager -->

    <!-- Hotjar Tracking Code for https://www.lewagon.com.ar/ -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:5154176,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
  </head>
  <body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WBP4T8X5"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Meta Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '454970016930271');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=454970016930271&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->
    <main>
      <%= yield %>
    </main>
  </body>
</html>
